<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Finance Tracker</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <img src="https://i.imgur.com/yOWswGa.jpg" alt="Finance Image" class="welcome-image">
  <% if (user) { %>
    <header class="header">
      <h1>Welcome to iFinance, <%= user.username %>!</h1>
      <a href="/auth/sign-out" class="nav-button">Sign out</a>
    </header>
  <% } else { %>
    <header class="header">
      <h1>Welcome to iFinance</h1>
      <p>Personal Finances Companion</p>
    </header>
    <div class="auth-links">
      <a href="/auth/sign-up" class="button">Sign up</a> or
      <a href="/auth/sign-in" class="button">Sign in</a>.
    </div>
  <% } %>
</body>
</html>
